{% extends "layout.njk" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <h2 class="center-align">Desafio 01</h2>
            <div class="row">
                <form class="col s12" method="post" action="/check">
                    <div class="row">
                        <div class="input-field col m12">
                            <input name="nome" type="text" class="validate" placeholder="">
                            <label for="nome">Informe seu nome</label>
                        </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m12">
                            <input name="dataNascimento" type="tel" class="validate dateMask" placeholder="" required>
                            <label for="dataNascimento">Sua data de nascimento</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col m12">
                         <p class="right-align"><button class="btn btn-large waves-effect waves-light" type="submit" name="action">Enviar</button></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
  $('.dateMask').inputmask({
    "mask": "99/99/9999"
  });
</script>
{% endblock %}
