{% extends "layout.njk" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col m10s12">
      <blockquote>
        Que pena {{nome}}, você tem menos que 18 anos
      </blockquote>
    </div>
  </div>
</div>
{% endblock %}
